<!-- <ion-buttons slot="start">
  <ion-button color="primary" [routerLink]="['/main']">
    <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
  </ion-button>
</ion-buttons>  -->
<ion-tabs>
  <ion-tab-bar slot="top">
    <ion-tab-button tab="Income"(click)="Income()">Income
      <!-- <ion-icon name="person">Individual</ion-icon> -->
    </ion-tab-button>
    <br>
    <br>
    <ion-tab-button tab="Expense"(click)="Expense()">Expense
     </ion-tab-button>
    <!-- <ion-toolbar>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button> 
     </ion-buttons>
     </ion-toolbar> -->
  </ion-tab-bar>
</ion-tabs>
